.HomePage .carousel-item img {
    max-height: 400px !important;
    opacity: 0.9;
}

/* .carousel-caption {
    background-color: #3a3535;
    opacity: 0.75;
    padding: -30px;
} */

h1 {
    color: #f4f4f4;
    text-shadow: 2px 2px #3a3535;
}