.color-nav {
  background: #ff7315 !important;
  /* background: "orange"; */
}

.navbar {
  padding: 0 1rem !important;
  transition: 0.25s top ease-in-out;
}

nav.navbar.hide {
  top: -100px;
}

nav a {
  color: #f4f4f4 !important;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

a.nav-link {
  color: #f4f4f4 !important;
  text-transform: uppercase;
}

a.navbar-brand {
  display: block;
  width: 130px;
  height: 82px;
  background: url(../../assets/images/logo.svg);
  background-size: 130px 82px;
}