.color-nav {
  background: #ff7315 !important;
  /* background: "orange"; */
}

.navbar {
  padding: 0 1rem !important;
}

a.nav-link {
  color: #f4f4f4 !important;
}

a.navbar-brand {
  display: block;
  width: 130px;
  height: 82px;
  background: url(../../assets/images/logo.svg);
  background-size: 130px 82px;
}