.ProfilePage {
    text-align: center;
}

.profile-header {
    background-image: url("../../../assets/images/palawan.jpg");
    background-size: cover;
    height: 200px;
}

.profile-text {
    padding-top: 150px;
}

.name {
    margin-top: 10px;
}

img.profile-pic {
    border: solid 3px;
    border-color: #3a3535 !important;
}

.profile-subsection {
    margin-top: 10px;
}

.immersion-card {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    border-radius: 1px;
    /* border-color: #ff7315 !important;  */
}

.hyperlink {
    padding-top: 3px;
    font-size: 13px;
}

.card-body {
    padding: 25px !important;
}

.btn-outline-warning {
    border-color: #ff7315 !important;
    color: #ff7315 !important;
  
  
}
.btn-outline-warning:hover {
background-color: #ff7315 !important;
color: white !important;


}

.btn-outline-warning:active {

border-color: #ff7315 !important;
}
.btn-outline-warning:visited {
border-color: #ff7315 !important;

}
.btn-outline-warning:focus {
background-color: #ff7315 !important;
border-color: #ff7315 !important;
}

.hyperlink a, .hyperlink a:active, .hyperlink a:visited, .hyperlink a:focus {
    color: #ff7315;
}
