@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:700&display=swap');
body {
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4 !important;
  font-family: Roboto, sans-serif !important;
}

.App {
  text-align: center;
}