.LocationCard {
    border: 1px solid #3a3535;
    border-radius: 5px;
    margin: 25px 50px;
    height: 100px;
    text-align: center;
    color: white;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}