.LocationCard {
    border-radius: 5px;
    margin: 25px;
    height: 100px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}