.LocationCard {
    border-radius: 5px;
    margin: 25px;
    height: 250px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LocationCard h6 {
    text-transform: uppercase;
}